.profile__description {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  grid-column: -3/-1;
  line-height: 22px;
  margin: 0;
  max-width: 336px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 915px) {
  .profile__description {
    font-size: 16px;
    line-height: 18px;
    max-width: 225px;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto 36px;
  }
}