.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__avatar:hover {
  background: center center/auto no-repeat, rgb(0, 0, 0);
  opacity: 0.2;
  transition: opacity .6s;
}