.cards__delete {
    display: none;
    background-image: url(../../../images/icons/trash.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    transition: opacity .2s ease-in;
    width: 18px;
    height: 20px;
    position: absolute;
    top: 18px;
    right: 15px;
}