.popup__container {
  background-color: #fff;
  border-radius: 5px;
  max-width: 430px;
  position: relative;
  width: 100%;
  justify-items: center;
  box-shadow: 0 0 25px rgb(0 0 0 / 15%);
}

@media screen and (max-width: 510px) {
  .popup__container {
    max-width: 343px;
    min-height: 325px;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    max-width: 282px;
  }
}