.popup {
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  box-sizing: border-box;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

@media screen and (max-width: 510px) {
  .popup {
    padding: 25px 22px;
  }
}